:root{
  --heading-1: 3.5rem;
  --heading-2:1.6rem;
  --regular-text: 1rem;
  --tablet-font: .8rem;
  --sm-font:.8rem;   
  --btn-font: 1.4rem;    
  --grid-spacing: 60px; 
  --grid-spacing-large:80px;
  --spacing-md: 40px;
  --mobile-spacing: 30px;
  --mobile-md-spacing: 15px;
  --sm-spacing: 2px;
}
.gallery-container{
  max-width: 1400px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: var(--grid-spacing) var(--grid-spacing) var(--mobile-md-spacing) var(--grid-spacing) ;
  box-sizing: border-box;
  margin: 0 auto;
}
.big-font{
  font-size: 2rem;
  font-weight: 500;
}
.line{
  margin-left: 0;
  width: 100%;
  background-color: #ccc;
}
.gallery-box{
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--sm-spacing) var(--grid-spacing) var(--grid-spacing) var(--grid-spacing);
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--mobile-md-spacing);
  min-width: 0;
  margin: 0 auto;
}
.gallery img{
  width: 100%;
  max-height: 450px;
  object-fit: cover;    
  display: block;
  aspect-ratio: 1 / 1;      
}


@media only screen and (min-width: 500px) and (max-width: 1024px) {
.gallery {
  grid-template-columns: repeat(2, 1fr);
}
}


@media only screen and (max-width: 450px)  {
  .gallery-box{
    padding: var(--mobile-spacing);
}
.gallery {
  grid-template-columns: repeat(1, 1fr);
  row-gap: var(--mobile-spacing);
}
}