:root{
      /* spacing */ 
  --grid-spacing: 60px; 
  --grid-spacing-large:80px;
  --spacing-md: 40px;
  --mobile-spacing: 30px;
  --mobile-md-spacing: 15px;
  --sm-spacing: 2px;
}

.video-content {
  max-width: 1400px;
  display: flex;
  justify-content: flex-start;  /* align text and video to top */
  align-items: center;
  padding: var(--grid-spacing) var(--grid-spacing);
  box-sizing: border-box;
  gap: var(--grid-spacing);
  margin: 0 auto;
}

.video-box {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.video-wrapper {
  flex: 2;
  max-width: 550px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;  
}

.video-player {
  width: 100%;
  min-height: 350px;
  border: none;
  border-radius: 3px;
}

/* .video-content{
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--grid-spacing) var(--grid-spacing) ;
  box-sizing: border-box;
  gap: var(--mobile-spacing);
  margin: 0 auto;
}
.video-box{
  display: flex;
  flex-direction: column;
  flex:2;
  justify-content: flex-start;
} */


/* .video-wrapper {
  display: flex;
  flex:2;
  max-width: 550px;
  margin: 0 auto;
}
.video-player {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 3px;
  background-color: #000;
} */
.video-placeholder{
  display: flex;
  flex-direction: column;
  flex:2;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  
}
.video-placeholder img{
  border: 1px solid var(--soft-white);
  max-height: 350px; 
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
}

@media only screen and (min-width: 451px) and (max-width: 975px) {
  /* Styles for tablets */

.video-content{
  display: flex;
  justify-content: center;
  padding:var(--grid-spacing) var(--mobile-spacing) ;
  box-sizing: border-box;
  gap: var(--spacing-md);
  flex-direction: column;
  max-width: 550px;
}
.video-box{
  flex-direction: column;
  flex:1;
  justify-content: center;
  order: 1;
  width: 95%;
  
}
.video-placeholder{
    order: 2;
    
}
.video-wrapper {
    order: 2;
}
}
@media only screen and (max-width: 450px)  {
 
.video-content{
  display: flex;
  justify-content: center;
  padding:var(--mobile-spacing) var(--mobile-spacing) ;
  box-sizing: border-box;
  gap: var(--mobile-md-spacing);
  flex-direction: column;
}
.video-box{
  flex-direction: column;
  flex:1;
  justify-content: center;
  order: 1;
  width: 95%;
}
.video-placeholder{
flex:1;
 display: flex;
 justify-content: center;
 order: 2;
}
.video-player {
  width: 100%;
  min-height: 250px;
}
.content-box img{
 max-height: 250px; 
}
.video-wrapper {
  order: 2;
}  
}